
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="index, follow" />
    <link rel="icon" type="image/png" href="~/Content/upload/images/favicon.svg" />
    <title>Unauthorized @Resources.App.TenDonVi</title>
    @Styles.Render("~/Content/css/site")
</head>
<body class="nk-body bg-white npc-general pg-error">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap nk-wrap-nosidebar">
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle wide-xs mx-auto">
                        <div class="nk-block-content nk-error-ld text-center">
                            <h1 class="nk-error-head">401</h1>
                            <h3 class="nk-error-title">Oops! Unauthorized?</h3>
                            <p class="nk-error-text">Vui lòng liên hệ quản trị viên để biết thêm chi tiết.</p>
                            <a href="~/" class="btn btn-lg btn-primary mt-2">Quay về trang chủ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
