@model TTFPortal.Models.ReportsModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>In thẻ tên</title>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Report }
    )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.Report }
    )

</head>
<body>
    <div>
       @Html.DevExpress().WebDocumentViewer(settings => {
       settings.Name = "WebDocumentViewer";
        }).Bind(Model.Report).GetHtml()
    </div>
</body>
</html>
